{% extends 'master.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'myglobal.css' %}" />
{% block title %}
  {{ post.title }}
{% endblock %}
{% block content %}
  {% include 'header.html' %}

  <div class="blog">
    <h1>{{ post.title }}</h1>
    <p>Posted on {{ post.date_posted }} by {{ post.author }}</p>
    <img src="{{ post.image.url }}" class="blog-img img-fluid rounded" style="height: 500px; width: 430px; position:center;" alt="img" />
    <div>
      <p>{{ post.content }}</p>
    </div>
  </div>
  {% include 'footer.html' %}
{% endblock %}
