{% extends "master.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'myglobal.css' %}">

{% block content %}
{% include "header.html" %}

<table border='1'>
  <tr>
    <th>ID</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Joined Date</th>
  </tr>
  {% for x in mymembers %}
    <tr>
      <td>{{ x.slug }}</td>
      <td>{{ x.firstname }}</td>
      <td>{{ x.lastname }}</td>
      <td>{{ x.joined_date }}</td>
    </tr>
  {% endfor %}
</table>
{% endblock %}